body {
	width:1000px;
	margin: 0 auto;
}
header,footer {
	clear: both;
	width:800px;
	background-color: #eee;
}
.main-content {
	float:right;
	width:800px;
}
.sidebar {
	float:left;
	width:200px;
}

ul {
    list-style: none outside none;
}
li {
    display: list-item;
}
.facet {
    border: 1px solid #BBBBBB;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.04);
    margin-top: 13px;
    padding-left:0;
}
.facet li {
    border-top: 1px solid #E9E9E9;
    position: relative;
}
.facet-name {
	margin: 7px 0px 0px 5px;
	display: block;
    bottom: 5px;
    position: relative;
}
.facet-amount {
    bottom: 5px;
    position: absolute;
    right: 10px;
}
.set {
	border:1px solid #BBBBBB;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.04);
	float: left;
	width: 100px;
	height: 100px;
	padding: 10px;
	margin: 0px 10px 10px 0px;
}
.setName {
	width: 100px;
}
