body {
	width:1000px;
	margin: 0 auto;
	font: 12pt Georgia, serif;
}
header,footer {
	clear: both;
	width:800px;
	background-color: #EEE;
}
.main-content {
	float:left;
	width:660px;
}
.sidebar {
	float:left;
	width:200px;
	margin-right:10px;
}

ul {
    list-style: none outside none;
}
li {
    display: list-item;
}
.facet {
    border: 1px solid #BBBBBB;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.04);
    margin-bottom: 10px;
}
.facet div {
	padding:2px;
	background-color: #EEE;
}
.facet ul {
	margin:0px;
	padding:0px;
}
.facet li {
    border-top: 1px solid #BBBBBB;
    position: relative;
}
.facet-name {
	margin: 7px 0px 0px 5px;
	display: block;
    bottom: 5px;
    position: relative;
}
.facet-amount {
    bottom: 5px;
    position: absolute;
    right: 10px;
}
.set {
	border:1px solid #BBBBBB;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.04);
	float: left;
	width: 120px;
	height: 120px;
	margin: 0px 10px 10px 0px;
}
.set img {
	padding: 10px;
}
.setName {
	padding-left:2px;
	display:block;
	background-color: #EEE;
	width: 118px;
	border-bottom: 1px solid #BBBBBB;
	font-size: 10pt;
}
