.facet
  div=facetName
  ul
    - if (facet.length)
      each f in facet
        li
          a(href="/#{query.extendQuerystring(facetQuery,f._id)}")
            span.facet-name= f._id
            span.facet-amount= f.count