extend layout
block content
  each s in searchResults.sets
    .set
      span.setName= s.setName
      img(src=s.thumbnailURL)
block facet
  facetName = "Theme"
  facet = searchResults.theme
  include facet

  facetName = "Year"
  facet = searchResults.year
  include facet
