!!!5
html
  head
    title #{title}
    link(href="styles/general.css",rel="stylesheet")
  body
    header
      h1 #{title}
    .container
      .main-content
        block content
      .sidebar
        block facet
    footer
      p Running on node with Express and Jade